@charset "urf-8";
@import '@scss/partials/media_query.scss', '@scss/partials/mixin.scss',
  '@scss/partials/theme.scss', '@scss/partials/typography.scss';

@mixin theme($theme, $grayscale-1, $grayscale-2, $grayscale-3, $grayscale-4) {
  .#{$theme} {
    .search-result-section {
      h2 {
        @include Typography(2xl);
        margin-bottom: 50px;
        text-align: center;

        span {
          color: $primary-color;
        }
      }

      .book-list {
        padding: 20px 0;

        & > li {
          padding: 14px 0;
          border-bottom: 1px $grayscale-3 solid;

          &:first-child {
            border-top: 1px $grayscale-2 solid;
          }
        }
      }
    }

    @include Mobile() {
      .search-result-section {
        h2 {
          display: none;
        }

        .book-list {
          padding: 7px 0;

          & > li {
            padding: 4px 0;

            &:first-child {
              border-top: 0;
            }
          }
        }
      }
    }
  }
}

@each $theme, $grayscale-1, $grayscale-2, $grayscale-3,
  $grayscale-4 in $pallette
{
  @include theme(
    $theme,
    $grayscale-1,
    $grayscale-2,
    $grayscale-3,
    $grayscale-4
  );
}
