@charset "utf-8";
@import '@scss/partials/media_query.scss', '@scss/partials/mixin.scss',
  '@scss/partials/theme.scss', '@scss/partials/typography.scss';

.btn {
  @include FlexCenter();
  border: 1px transparent solid;

  &.small {
    padding: 7px 15px;
    border-radius: 20px;
  }

  &.medium {
    min-width: 120px;
    padding: 11px 18px;
    border-radius: 40px;
  }

  &.large {
    @include Typography(lg);
    width: 100%;
    padding: 12px 10px;
    border-radius: 5px;
  }

  &.primary,
  &.secondary {
    color: $grayscale-4;
  }

  &.primary {
    background-color: $primary-color;
  }

  &.secondary {
    background-color: $secondary-color;
  }

  &.grayscale {
    border-color: $grayscale-2;
    color: $grayscale-2;
  }

  &[disabled] {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
  }
}

@include Mobile {
  .btn {
    &.small {
      padding: 5px 15px;
      font-size: 12px;
    }

    &.large {
      padding: 8px 5px;
      font-size: 14px;
    }
  }
}
