@charset "urf-8";
@import '@scss/partials/mixin.scss', '@scss/partials/theme.scss';
@import '@scss/partials/grid_system.scss', '@scss/partials/media_query.scss';
@import '@scss/partials/Typography.scss';

@mixin theme($theme, $grayscale-1, $grayscale-2, $grayscale-3, $grayscale-4) {
  .#{$theme} {
    .main-container {
      width: 100%;
      background-color: $grayscale-4;
      color: $grayscale-1;

      & .main-body-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;

        & > .main-banner-1 {
          width: 100%;
          max-width: 1200px;
          height: 150px;
          margin: 0 auto;
          padding: 0 10px;
          border-radius: 10px;
          background-image: url('@images/main_banner.jpg');
          background-size: cover;
          background-repeat: no-repeat;
        }

        & > .main-banner-2 {
          width: 100%;
          max-width: 1200px;
          height: 150px;
          margin: 0 auto;
          padding: 0 10px;
          border-radius: 10px;
          background-image: url('@images/main_banner_2.jpg');
          background-size: cover;
          background-repeat: no-repeat;
        }

        // 세로방향 스타일
        & > .book-list-container {
          @include GridSystem(3, 3, 1, 1);
          width: 100%;
          max-width: 1200px;
          margin: 0 auto;
          color: $grayscale-4;

          & > .book-list-wrap {
            width: 100%;
            height: 100%;
            padding: 0 10px;

            & > .book-list {
              display: flex;
              flex-direction: column;
              width: 100%;
              padding: 20px 0;

              & > .book-list-items {
                width: 100%;

                & > .book-list-content {
                  display: flex;
                  width: 100%;
                  height: 120px;
                  border-bottom: 1px solid $grayscale-3;
                  padding: 10px 0;

                  & > .book-list-contents-img {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    overflow: hidden;

                    & > a > img {
                      height: 100%;
                      object-fit: contain;
                      aspect-ratio: 2 / 3;
                    }
                  }

                  & > .book-list-contents-title {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;
                    padding: 10px 0;
                    color: $grayscale-1;

                    & > h3 {
                      @include Ellipsis(true, 1);
                      @include Typography(xs, 700);
                      color: $grayscale-1;

                      & > a {
                        color: $grayscale-1;
                      }
                    }

                    & > h4 {
                      @include Ellipsis(true, 1);
                      @include Typography(2xs, 400);
                      color: $grayscale-2;
                    }

                    & > span {
                      @include Typography(2xs, 400);
                      color: $grayscale-2;
                    }
                  }
                }
              }
            }
          }
        }

        // 가로방향 스타일
        & > .new-container {
          width: 100%;
          max-width: 1200px;
          height: 100%;
          max-height: 400px;
          margin: 0 auto;

          & > .book-list-wrap {
            width: 100%;
            height: 100%;
            padding: 0 10px;

            & > .book-list-swiper-wrap {
              display: flex;
              justify-content: center;
              align-items: flex-start;
              width: 100%;
              padding: 0 10px;

              & > .book-list-swiper {
                @include FlexCenter;
                width: 100%;
                height: 100%;

                .swiper-slide {
                  @include FlexCenter;
                  border-radius: 8px;
                }

                .book-list-content {
                  @include FlexCenter;
                  flex-direction: column;
                  text-align: center;
                  width: 100%;
                  max-width: 160px;
                  padding: 10px 0;

                  & > .book-list-contents-img {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;

                    & > a > img {
                      height: 100%;
                      object-fit: contain;
                      aspect-ratio: 2 / 3;
                    }
                  }

                  & > .book-list-contents-title {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;
                    padding: 10px 0;

                    & > h3 {
                      @include Ellipsis(true, 1);
                      @include Typography(xs, 700);
                      color: $grayscale-1;

                      & > a {
                        color: $grayscale-1;
                      }
                    }

                    & > h4 {
                      @include Ellipsis(true, 1);
                      @include Typography(2xs, 400);
                      color: $grayscale-2;
                    }

                    & > span {
                      @include Typography(3xs, 400);
                      color: $grayscale-2;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// @each를 이용하여 테마를 적용하는데, in을 이용하여 $pallette를 순회하면서 각각의 테마를 적용시킵니다.
@each $theme, $grayscale-1, $grayscale-2, $grayscale-3,
  $grayscale-4 in $pallette
{
  // @mixin을 이용하여 생성한 테마를 @include를 이용하여 적용시킵니다.
  @include theme(
    $theme,
    $grayscale-1,
    $grayscale-2,
    $grayscale-3,
    $grayscale-4
  );
}
