@import '@scss/partials/mixin.scss';
@import '@scss/partials/theme.scss';
@import '@scss/partials/grid_system.scss';
@import '@scss/partials/media_query.scss';

.new-special-container {
  width: 100%;
  height: 100%;
  max-height: 400px;
  display: flex;
  flex-direction: column;

  & > .new-special-main-title {
    width: 100%;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 30px 20px 10px 20px;

    @include Tablet {
      padding: 30px 20px 20px 20px;
    }

    @include Mobile {
      padding: 30px 10px 20px 10px;
    }

    & > .new-special-sub-title {
      position: relative;
      color: $grayscale-1;
      display: flex;
      justify-content: space-between;

      svg {
        width: 20px;
        height: 20px;
        fill: $grayscale-1;
      }
    }
  }
  .new-special-swiper-wrap {
    width: 100%;

    & > .new-special-swiper {
      @include FlexCenter;
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;

      .new-special-wrap {
        display: flex;
        width: 100%;
        height: 200px;

        & > .new-special-ranking {
          @include FlexCenter;
          width: 100%;
          font-size: 1.5rem;
        }

        & > .new-special-img {
          width: 100%;
          border-radius: 8px;
          overflow: hidden;
        }

        & > .new-special-title {
          @include FlexCenter;
          width: 100%;
          padding: 10px 0;
          font-size: 1rem;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
