.themeContainer {
  position: absolute;
  top: 0;
  right: 0;

  button {
    width: 48px;
    height: 48px;

    &.light {
      background: url(../../../public/images/light_theme_32.png) no-repeat
        center center;
    }

    &.dark {
      background: url(../../../public/images/dark_theme_32.png) no-repeat center
        center;
    }
  }
}
