@import '@scss/partials/mixin.scss';
@import '@scss/partials/theme.scss';

.swiper-wrap > .big-swiper {
  width: 100%;
  height: 400px;

  & > .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    .swiper-pagination-bullet {
      border: 6px solid $grayscale-4;
      margin-right: 15px;
    }

    .swiper-pagination-bullet-active {
      width: 10px;
      height: 10px;
    }
  }

  img {
    height: 100%;
  }
}
