@charset "utf-8";

// 테마 컬러
$primary-color: #ffb6b9;
$secondary-color: #fbc687;
$error-color: #bb2649;

// 회색조 색상 모음(테마 스위치 적용)
$grayscale-1: #111;
$grayscale-2: #777;
$grayscale-3: #c8c8c8;
$grayscale-4: #f5f5f5;

$pallette: (
  (light, #111, #777, #c8c8c8, #f5f5f5),
  (dark, #f5f5f5, #c8c8c8, #777, #111)
);

@mixin ThemeTransition {
  transition:
    background-color 0.5s cubic-bezier(0.16, 1, 0.29, 0.99),
    color 0.5s cubic-bezier(0.16, 1, 0.29, 0.99);
}
