@charset "utf-8";

// 미지정 시 font-size: 14px; line-height: 18px;이 초기값으로 들어갑니다.
@mixin Typography($size: null, $weight: 400) {
  @if $size == 3xl {
    font-size: 24px;
    line-height: 32px;
    font-weight: $weight;
  } @else if $size == 2xl {
    font-size: 21px;
    line-height: 27px;
    font-weight: $weight;
  } @else if $size == xl {
    font-size: 20px;
    line-height: 24px;
    font-weight: $weight;
  } @else if $size == lg {
    font-size: 18px;
    line-height: 23px;
    font-weight: $weight;
  } @else if $size == md {
    font-size: 17px;
    line-height: 22px;
    font-weight: $weight;
  } @else if $size == sm {
    font-size: 16px;
    line-height: 24px;
    font-weight: $weight;
  } @else if $size == xs {
    font-size: 15px;
    line-height: 19px;
    font-weight: $weight;
  } @else if $size == 2xs {
    font-size: 13px;
    line-height: 23px;
    font-weight: $weight;
  } @else if $size == 3xs {
    font-size: 12px;
    line-height: 1;
    font-weight: $weight;
  } @else if $size == 4xs {
    font-size: 10px;
    line-height: 17px;
    font-weight: $weight;
  }
}
