@charset "utf-8";

$bg-default-color: #e5e5e5;
$bg-white-color: #fff;
$bg-cream-color: #eedfcf;
$bg-green-color: #668d89;
$bg-gray-color: #666;
$bg-black-color: #222;

$font-default-color: #333;
$font-white-color: #fff;
