@charset "urf-8";
@import '@scss/partials/media_query.scss', '@scss/partials/mixin.scss',
  '@scss/partials/theme.scss', '@scss/partials/typography.scss';

@mixin theme($theme, $grayscale-1, $grayscale-2, $grayscale-3, $grayscale-4) {
  .#{$theme} {
    .header {
      position: sticky;
      top: 0;
      z-index: 10;
      width: 100%;
      background-color: $grayscale-4;
      color: $grayscale-1;

      .inner-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 22px 10px;

        h1 {
          a {
            @include Typography(4xl, 700);
            color: $primary-color;
          }
        }

        .btn-group {
          @include FlexCenter();
          gap: 30px;

          button,
          a {
            @include Ir();
            width: 34px;
            height: 34px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 30px;
          }
        }

        .btn-signin {
          background-image: url(@svg/header/icon_signin_#{$theme}.svg);
        }

        .btn-signup {
          background-image: url(@svg/header/icon_signup_#{$theme}.svg);
        }

        .link-search {
          background-image: url(@svg/header/icon_search_#{$theme}.svg);
        }
      }
    }

    @include Mobile {
      .header {
        .inner-wrap {
          padding: 8px 20px;

          h1 {
            a {
              @include Typography(lg);
            }
          }

          .btn-group {
            gap: 14px;

            button,
            a {
              background-size: 24px;
            }
          }
        }
      }
    }
  }
}

@each $theme, $grayscale-1, $grayscale-2, $grayscale-3,
  $grayscale-4 in $pallette
{
  @include theme(
    $theme,
    $grayscale-1,
    $grayscale-2,
    $grayscale-3,
    $grayscale-4
  );
}
