@charset "urf-8";
@import '@scss/partials/media_query.scss', '@scss/partials/mixin.scss',
  '@scss/partials/theme.scss', '@scss/partials/typography.scss';

@mixin theme($theme, $grayscale-1, $grayscale-2, $grayscale-3, $grayscale-4) {
  .#{$theme} {
    .search {
      flex: 1;
      padding: 40px 0;
      background-color: $grayscale-4;
      color: $grayscale-1;

      .outer-wrap {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 10px;
      }

      .inner-wrap {
        max-width: 720px;
        margin: 0 auto;
        padding: 0 20px;
      }
    }

    @include Mobile() {
      .search {
        padding: 0;

        .outer-wrap {
          padding: 0 20px;
        }

        .inner-wrap {
          padding: 0;
        }
      }
    }
  }
}

@each $theme, $grayscale-1, $grayscale-2, $grayscale-3,
  $grayscale-4 in $pallette
{
  @include theme(
    $theme,
    $grayscale-1,
    $grayscale-2,
    $grayscale-3,
    $grayscale-4
  );
}
