@import '@scss/partials/grid_system.scss';
@import '@scss/partials/media_query.scss';
@import '@scss/partials/typography.scss';
@import '@scss/partials/mixin.scss';
@import '@scss/partials/theme.scss';

.book-detail-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;

  & > .book-detail-info-wrap {
    @include FlexCenter;
    width: 100%;
    max-width: 1200px;
    border: 1px solid $grayscale-3;
    border-radius: 10px;
    margin: 0 auto;
    padding: 20px;

    & > .book-detail-info {
      display: flex;
      width: 100%;

      & > .book-detail-info-img {
        width: 30%;
        height: auto;
        max-height: 400px;
        padding: 20px;
        border-radius: 12px;

        img {
          height: 100%;
          object-fit: contain;
          aspect-ratio: 2/3;
        }
      }

      & > .book-detail-info-text {
        display: flex;
        flex-direction: column;
        width: 70%;

        & > .book-detail-info-category {
          @include Typography(xs, 400);
          color: $grayscale-3;
        }

        & > .book-detail-info-title {
          @include Typography(3xl, 700);
          color: $grayscale-1;
          padding: 5px 0;
        }

        & > .book-detail-info-author {
          @include Typography(xs, 400);
          color: $grayscale-2;
        }

        & > .book-detail-info-standard-price {
          @include Typography(xl, 400);
          text-decoration: line-through;
          color: #ff0000;
          padding: 10px 0;
        }

        & > .book-detail-info-sales-price {
          @include Typography(2xl, 700);
          color: $grayscale-1;
          padding-bottom: 20px;
        }

        & > .book-detail-info-description {
          @include Typography(xs, 400);
          display: flex;
          flex-direction: column;
          padding: 0 20px 10px 0;
          color: $grayscale-2;

          & > .active {
            @include Ellipsis(true, 2);
          }

          & > .book-detail-info-description-toggle {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            position: relative;
            margin: 20px 20px 0 0;
            border: none;
            font-family: 'Pretendard-Regular', Arial, Helvetica, sans-serif;

            &::before {
              content: '';
              width: 10px;
              height: 10px;
              position: absolute;
              top: 50%;
              right: -20px;
              transform: translateY(-50%);
              background-image: url('@images/up_arrow.png');
              background-repeat: no-repeat;
              background-size: contain;
            }
            &.open::before {
              background-image: url('@images/down_arrow.png');
            }
          }
        }

        & > .book-detail-info-hashtag {
          @include Typography(xs, 400);
          display: flex;
          gap: 10px;
          color: $grayscale-1;
        }
      }
    }
  }

  & > .book-detail-content-buy-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid $grayscale-3;
    border-radius: 10px;

    & > .book-detail-content-buy {
      @include Typography(xs, 700);
      display: flex;
      padding-left: 35px;
      position: relative;

      &::after {
        content: '';
        width: 28px;
        height: 28px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background-image: url('@images/ticket.png');
        background-size: contain;
      }
    }
  }
}
