@charset "urf-8";
@import '@scss/partials/media_query.scss', '@scss/partials/mixin.scss',
  '@scss/partials/theme.scss', '@scss/partials/typography.scss';

@mixin theme($theme, $grayscale-1, $grayscale-2, $grayscale-3, $grayscale-4) {
  .#{$theme} {
    .tabs {
      @include FlexCenter();
      flex-direction: row;

      .tab {
        @include Typography(xs);
        flex: 1;
        height: 48px;
        border: 1px $grayscale-3 solid;
        color: $grayscale-2;
        line-height: 46px;

        &.selected {
          border-color: $primary-color;
          background-color: $primary-color;
          color: $grayscale-4;
        }
      }
    }
  }
}

@each $theme, $grayscale-1, $grayscale-2, $grayscale-3,
  $grayscale-4 in $pallette
{
  @include theme(
    $theme,
    $grayscale-1,
    $grayscale-2,
    $grayscale-3,
    $grayscale-4
  );
}
