@charset "urf-8";
@import '@scss/partials/media_query.scss', '@scss/partials/mixin.scss',
  '@scss/partials/theme.scss', '@scss/partials/typography.scss';

@mixin theme($theme, $grayscale-1, $grayscale-2, $grayscale-3, $grayscale-4) {
  .#{$theme} {
    .tabs {
      @include FlexCenter();
      flex-direction: row;

      .tab {
        @include Typography(xs);
        position: relative;
        flex: 1;
        height: 48px;
        border: 1px $grayscale-3 solid;
        color: $grayscale-2;
        line-height: 46px;

        &.selected {
          border-color: $primary-color;
          background-color: $primary-color;
          color: $grayscale-4;
        }
      }
    }

    @include Mobile() {
      .tabs {
        .tab {
          @include Typography(2xs);
          height: 44px;
          border: 0 none;
          border-bottom: 2px $grayscale-3 solid;
          line-height: 42px;

          &.selected {
            border-color: $primary-color;
            background-color: transparent;
            color: $primary-color;
          }

          &::after {
            @include Position(absolute, $top: 8px, $right: 8px);
            content: '';
            display: block;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: $primary-color;
          }

          .total-results {
            display: none;
          }
        }
      }
    }
  }
}

@each $theme, $grayscale-1, $grayscale-2, $grayscale-3,
  $grayscale-4 in $pallette
{
  @include theme(
    $theme,
    $grayscale-1,
    $grayscale-2,
    $grayscale-3,
    $grayscale-4
  );
}
